@use "mixins" as *;
@use "variables" as *;

.benefits {
  margin: 0 auto;
  margin-top: 111px;
  max-width: 936px;
  @include maxWidthAdapt;
  @include respond-max($mobile) {
    max-width: 100%;
  }
  &__title {
    font-size: 2.615rem;
    line-height: 40.32px;
    font-weight: 400;
    margin-bottom: 16px;
    @include respond-max($desktop-large) {
      margin-bottom: 40px;
    }
    @include respond-max($tablet) {
      text-align: center;
    }
  }

  &__container {
    display: grid;
    grid-template-rows: 348px 348px;
    gap: 36px;
    @include respond-max($desktop-large) {
      grid-template-rows: auto;
    }
    @include respond-max($mobile) {
      gap: 0;
    }
  }
}

.quote {
  position: relative;
  display: grid;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 24px;
    @include respond-max($desktop-large) {
      border-radius: 24px 24px 0 0;
      height: 300px;
    }
    @include respond-max($mobile) {
      border-radius: 0;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 1.692rem;
    line-height: 30.24px;
    grid-row: 1;
    grid-column: 2;
    color: inherit;
  }
  &__excerpt {
    grid-row: 2;
    grid-column: 2;
    font-size: 1rem;
    line-height: 19.8px;
    color: inherit;
  }

  & &__icon {
    width: auto;
    height: auto;
    margin-top: 5px;
    grid-row: 1;
    grid-column: 1;
    border-radius: initial;
    @include respond-max($tablet) {
      width: 60px;
      height: 40px;
    }
  }

  &--left {
    &::after {
      content: url("/assets/images/clip-path-quote-top.svg");
      position: absolute;
      right: 261px;
      height: 110%;
      @include respond-max($desktop-large) {
        display: none;
      }
    }
    &::before {
      content: url("/assets/images/clip-path-quote-top-second.svg");
      position: absolute;
      right: 300px;
      z-index: 1;
      @include respond-max($desktop-large) {
        display: none;
      }
    }
    grid-template-columns: 1fr 396px;
    .quote__left {
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-template-rows: max-content;
      column-gap: 36px;
      row-gap: 14px;
      background: rgba(255, 246, 147, 1);
      border-radius: 24px 0 0 24px;
      padding-top: 60px;
      padding-left: 48px;
      padding-right: 25px;
      padding-bottom: 50px;
      @include respond-max($desktop-large) {
        border-radius: 0 0 24px 24px;
        padding: 50px;
        grid-row: 2;
      }
      @include respond-max($tablet) {
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-rows: auto;
        display: flex;
        flex-direction: column;
      }
      @include respond-max($mobile) {
        border-radius: 0;
      }
    }
    .quote__right {
    }
    @include respond-max($desktop-large) {
      grid-template-columns: 1fr;
    }
  }
  &--right {
    color: #fff;
    grid-template-columns: 396px 1fr;
    &::before {
      content: url("/assets/images/clip-path-quote-bottom.svg");
      position: absolute;
      left: 260px;
      @include respond-max($desktop-large) {
        display: none;
      }
    }
    .quote__left {
      overflow: hidden;
    }
    .quote__right {
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-template-rows: max-content;
      column-gap: 36px;
      background: rgba(89, 88, 87, 1);
      border-radius: 0 24px 24px 0;
      padding-top: 66px;
      padding-right: 71px;
      @include respond-max($desktop-large) {
        border-radius: 0 0 24px 24px;
        // grid-row: ;
        padding: 50px;
      }
      @include respond-max($tablet) {
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-rows: auto;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
      @include respond-max($mobile) {
        border-radius: 0;
      }
    }
    @include respond-max($desktop-large) {
      grid-template-columns: 1fr;
    }
  }
}
