@use "mixins" as *;
@use "variables" as *;

.consulation {
  position: relative;
  margin: 0 auto;
  margin-top: 112px;
  max-width: 1128px;
  min-height: 397px;
  background: rgba(255, 246, 147, 1);
  border-radius: 24px;
  padding: 75px 60px 0 96px;
  @include respond-max($desktop) {
    padding-right: 100px;
    padding-bottom: 40px;
  }
  @include respond-max($tablet) {
    border-radius: 0;
  }
  &::after {
    content: url("/assets/images/clip-path-consulation.svg");
    position: absolute;
    top: 0;
    right: 0;
    @include respond-max($tablet) {
      display: none;
    }
  }
  @include maxWidthAdapt;
  // .consulation__title
  @include respond-max($tablet) {
    max-width: 100%;
    margin: 30px 0;
    padding: 20px 5vw;
  }

  @include respond-max($mobile) {
    padding: 40px 40px;
    margin: 0;
  }

  &__title {
    font-size: 3.692rem;
    line-height: 57.6px;
    max-width: 480px;
    margin-bottom: 12px;
    @include respond-max($mobile) {
      font-size: 2.692rem;
      line-height: 1.2;
    }
  }

  // .consulation__subtitle

  &__subtitle {
    font-size: 1.308rem;
    line-height: 25.2px;
    max-width: 480px;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 337px 1fr;
    column-gap: 6px;
    margin-top: 23px;
    max-width: 742px;
    @include respond-max($desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
    @include respond-max($tablet) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 10px;
    }
    @include respond-max($mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__input {
    @include input-style;
    @include respond-max($desktop) {
      width: 100%;
    }
  }

  &__button {
    font-size: 1.077rem;
    color: #fff;
    background: rgba(38, 37, 36, 1);
    border-radius: 240px;
    height: 48px;
    margin-left: 9px;
    @include respond-max($desktop) {
      width: 100%;
      margin: 0;
    }
    @include respond-max($tablet) {
      margin: 0;
      // max-width: 100%;
    }
  }
}
