@use "mixins" as *;
@use "variables" as *;

.technical-documentation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1128px;
  min-height: 384px;
  background: rgba(89, 88, 87, 1);
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 107px;
  padding: 0 72px;
  flex-wrap: wrap;
  gap: 50px;
  @include maxWidthAdapt;

  @media (max-width: $desktop-large) {
    padding: 60px;
    justify-content: center;
    max-width: 75%;
  }

  @media (max-width: $desktop) {
    padding: 60px 30px;
  }
  @include respond-max($tablet) {
    max-width: 100%;
    border-radius: initial;
    gap: 20px;
  }
  &__title {
    color: #fff;
    font-size: 2.615rem;
    line-height: 38px;
    font-weight: 400;
    max-width: 368px;
    @media (max-width: $desktop-large) {
      max-width: 70%;
    }
    @include respond-max($desktop) {
      width: 100%;
    }

    @include respond-max($mobile) {
      font-size: 1.8rem;
      line-height: 1.2;
      max-width: 99%;
    }
  }

  &__list {
    display: grid;
    gap: 15px;
    max-width: 408px;
    width: 100%;
    padding: 25px 0 22px;
    @media (max-width: $desktop-large) {
      max-width: 80%;
    }
  }

  &__item {
    position: relative;
    background: rgba(242, 185, 12, 1);
    border-radius: 18px;
    padding: 11px 25px 9px 19px;
    width: 100%;
    min-height: 76px;
    @media (max-width: $desktop-large) {
      min-height: 100px;
    }
    h3 {
      color: rgba(89, 88, 87, 1);
      font-size: 1.231rem;
      font-weight: 700;
    }

    span {
      color: rgba(255, 255, 255, 1);
      line-height: 15px;
      font-size: 1rem;
      font-weight: 400;
    }
    &::after {
      content: url("/assets/images/inset_tech-doc.svg");
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__masked {
    position: absolute;
    left: 391px;
    height: 100%;
    @media (max-width: $desktop-large) {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    top: -8px;
    right: 4px;
    width: 60px;
    z-index: 2;
  }
}
